*{
    box-sizing: border-box;
}

/* header */

nav{
    position: fixed;
    width: 100%;
    top: -218px;
    left: 0;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

nav ul{
    padding: 0;
    text-align: center;
    margin: 20px auto 0 auto;
}

nav li{
    cursor: pointer;
    list-style: none;
    margin: 20px auto;
}

nav li a{
    text-decoration: none;
}

nav > button{
    cursor: pointer;
    background-color: rgb(126, 126, 126);
    margin: 20px;
}

.nav-standby{
    top: -154px;
}

.nav-open{
    top: 0;
}

/* app loading/loaded */
.banner-loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow-y: scroll;
    padding-top: 64px;
}

.banner-loaded{
    padding-top: 64px;
    height: 100vh;
    background-color: black;
}

.htmlBody-loading{
    height: 100%;
    overflow: hidden;
}


/* banner */

#banner-title{
    color: rgb(36, 36, 36);
}

#banner-animation{
    width: 280px;
    height: 280px;
    background-color: black;
}

/* sections */

.disabled{
    opacity: .3;
    cursor: default;
}

h2{
    margin-top: 0;
}

/* about */
#about{
    height: 100vh;
    background-color: coral;
    padding-top: 20px;
}

/* projects */
#projects{
    background-color: rgb(59, 189, 59);
}

/* project */

.project{
    height: 100vh;
    background-color: rgb(80, 255, 80);
    padding-top: 20px;
    border: 1px solid green;
}

/* contact */
#contact{
    height: 100vh;
    background-color: rgb(255, 238, 80);
    padding-top: 20px;
}

/* footer */
footer{
    background-color: rgb(118, 93, 124);
    padding-top: 20px;
}

footer p{
    margin: 0 auto;
}