*{
    box-sizing: border-box;
}

:root{
    --sectionHeight: 100vh;
}

/* header */
nav{
    position: fixed;
    width: 100%;
    top: -220px;
    left: 0;
    background-color: rgba(169, 169, 169);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

nav ul{
    padding: 0;
    text-align: center;
    margin: 20px auto 0 auto;
}

nav li{
    cursor: pointer;
    list-style: none;
    margin: 20px auto;
}

nav li a{
    text-decoration: none;
}

nav > button{
    cursor: pointer;
    background-color: rgb(126, 126, 126);
    margin: 20px;
}

.nav-open{
    overflow-y: scroll;
}

@keyframes nav-toggle-open {
    from{
        top: -154px;
    }

    to{
        top: 0px;
    }
}

@keyframes nav-toggle-close {
    from{
        top: 0px;
    }

    to{
        top: -154px;
    }
}

/* app loading/loaded */
.banner-loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow-y: scroll;
    padding-top: 64px;
}

.banner-loaded{
    padding-top: 64px;
    height: var(--sectionHeight);
    background-color: black;
}

.noScroll{
    height: 100%;
    overflow: hidden;
    user-select: none;
}

/* banner */
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner-name, #banner-surname{
    color: rgb(36, 36, 36);
    text-align: center;
    font-size: 3rem;
    margin: 0 auto;
}

#banner-animation{
    z-index: 1;
}

/* sections */

.disabled{
    cursor: default;
    pointer-events: none;
    overflow-y: scroll;
}

h2{
    margin-top: 0;
}

/* about */
#about{
    height: var(--sectionHeight);
    background-color: coral;
    padding-top: 20px;
}

/* projects */
#projects{
    background-color: rgb(59, 189, 59);
}

/* project */

.project{
    height: var(--sectionHeight);
    background-color: rgb(80, 255, 80);
    padding-top: 20px;
    border: 1px solid green;
}

/* contact */
#contact{
    height: var(--sectionHeight);
    background-color: rgb(255, 238, 80);
    padding-top: 20px;
}

/* footer */
footer{
    background-color: rgb(118, 93, 124);
    padding-top: 20px;
}

footer p{
    margin: 0 auto;
}